body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #1f2937;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.top-head {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.bot-head {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 68%;
}

.h-container {
    margin-right: auto;
    width: 38%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder; 
}

.second-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.head-img {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 100px 150px;
}

.body {
    display: flex;
    flex-direction: column;
}

.info-head {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.pic-info {
    max-width: 150px;
    margin-bottom: 100px;
}

.pics {
    max-width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.mid-bod {
    background-color: #e5e7eb;
    padding: 120px 400px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.bot-bod {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px;
    border-radius: 5px;
    margin: 100px 250px;
    display: flex;
    justify-content: space-around;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-f {
    border-color: white;
    display: flex;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    padding: 40px;
}